/* Responsive Mobile Menu for Small Device*/


@media screen and (max-width: 960px) {
    label.logo {
        font-size: 25px;
        padding-left: 20px;
    }

    .nav-var {
        padding: 50px 80px;
    }

    .nav-var ul li {
        padding-left: 15px;

    }

    .nav-var ul li a {
        font-size: 16px;
    }
}


@media screen and (max-width: 858px) {

    .nav-var {
        flex-direction: row-reverse;
        padding: 0;
    }

    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 110px;
        left: -100%;
        transition: all 0.5s;
        text-align: center;
    }

    .nav-var ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .nav-var ul li a {
        font-size: 20px;
        color: tomato;
    }

    a:hover,
    a.active {
        background: none;
        color: white;
    }

    #check:checked~ul {
        left: 0;
    }
}


@media screen and (max-width:688px) {

    .hero-section {
        width: auto;
        height: auto;
        padding: 0;
    }

    .hero {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero-img {
        background-size: 95%;
        background-repeat: no-repeat;
    }

    .hero-text {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero-text h1 {
        width: 100%;
        font-size: 35px;
    }

    .hero-text p {
        width: 100%;
        margin-bottom: 50px;
    }

    .hero-text a {
        width: 50%;
    }

    .branding-section {
        width: auto;
        height: auto;
    }

    .brands {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;

    }


    .collections {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 35px;
        padding: 95px;
        justify-content: center;
        align-items: center;

    }

    .featured {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 25px;
        align-items: center;
        padding: 0;
        margin-bottom: 25px;
    }

    .featured-text {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 25px;
    }

    .featured-text h1 {
        width: 100%;
    }

    .featured-text p {
        width: 100%;
    }

    .featured-text a {
        width: 50%;
    }

}

@media screen and (min-width:688px) and (max-width: 992px) {
    .hero {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .hero-text {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero-img {
        background-size: 95%;
        background-repeat: no-repeat;
    }

    .hero-text h1 {
        width: 100%;
        font-size: 45px;

    }

    .hero-text p {
        width: 100%;
        margin-bottom: 60px;
        margin-bottom: 30px;
    }

    .hero-text a {
        width: 30%;
    }

    .brands {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .collections {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 35px;
        padding: 85px;
        justify-content: center;
        align-items: center;

    }

    .featured {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 25px 0;
        align-items: center;
        padding: 0;
    }

    .featured-text {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 25px;
    }


    .featured-text h1 {
        width: 100%;
    }

    .featured-text p {
        width: 100%;
    }

    .featured-text a {
        width: 20%;
    }

}